<div class="container"><br>
    <h3>Create Product</h3><br>
    
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <app-display-errors [errors]="errors"></app-display-errors>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" formControlName="name" class="form-control" placeholder="Enter Product Name"
                [class.has-error]="control('name')?.errors">
            <app-label-error [control]="control('name')"></app-label-error>
        </div>
        <div class="form-group">
            <label for="description">Product Descriptions</label>
            <div class="form-line">
                <textarea rows="10" [class.has-error]="control('descriptions')?.errors" formControlName="descriptions"
                    class="form-control" placeholder="Enter descriptions of the product">
                        </textarea>
                <app-label-error [control]="control('descriptions')"></app-label-error>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="description">Price</label>
                    <div class="form-line">
                        <input [class.has-error]="control('price')?.errors" formControlName="price" class="form-control"
                            placeholder="Enter price of the product">
                        <app-label-error [control]="control('price')"></app-label-error>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="isActive">Select Category</label>
                    <select [class.has-error]="control('categoryId')?.errors" class="form-control"
                        formControlName="categoryId">
                        <option value="-1">Select</option>
                        <option *ngFor="let item of categories" [value]="item.id">{{item.name}}</option>
                    </select>
                    <app-label-error [control]="control('categoryId')"></app-label-error>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="isActive">Available since</label>
                    <input type="date" class="form-control" formControlName="availableSince"
                        [class.has-error]="control('availableSince')?.errors">
                    <app-label-error [control]="control('availableSince')"></app-label-error>
                </div>
            </div>
        </div>

        <br>
        <button class="btn btn-success btn-block" type="submit">Save</button>
    </form>
    <app-spinner *ngIf="showSpinner"></app-spinner><br><br>
    <div>
        <a class="nav-link" [routerLink]="['/admin/products/manage']">GO BACK</a>
    </div>
</div>